<div class="timeline">
    <div *ngIf="viewAll; else viewSingle" class="row">
        <div class="col-md-12">
            <div class="case" *ngFor="let post of postsArr">

                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-8 d-flex">
                        <span class="img w-100 mb-3 mb-md-0" style="background-image: url(assets/coffee.jpg);"></span>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
                        <div class="text w-100 pl-md-3">
                            <span class="subheading">{{post.tag}}</span>
                            <h2>{{post.title}}</h2>
                            <h6>{{post.summary}}</h6>
                            <button type="button" (click)="openPost(post.id)"
                                class="btn btn-secondary btn-lg active">Read More</button>
                            <div class="meta">
                                <p class="mb-0">{{post.date | date:'shortDate'}} |
                                    {{post.readTime}} MINUTES READ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div>
        <ng-template #viewSingle>
          <app-single-post></app-single-post>
            
        </ng-template>
    </div>
</div>

<!-- <div class="d-flex">
    <a routerLink="/editor" routerLinkActive="active">Editor component</a>
</div> -->