<div class="d-flex justify-content-center flex-wrap main-flex">
    <mat-card *ngFor="let post of postsArr" class="post m-4">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{post.title}}</mat-card-title>
            <mat-card-subtitle>{{post.tag}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_960_720.jpg"
            alt="Photo">
        <mat-card-content>
            <p>
                {{post.summary}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-button>Read More </button> -->
            <a [routerLink]="['/posts', post.tag ]">Read More</a> <!--will replace with slug-->
        </mat-card-actions>
        <mat-card-footer>
            <p> {{post.date | date:'shortDate'}} |
                {{post.readTime}} MINUTES READ</p>
        </mat-card-footer>
    </mat-card>
</div>